@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');


body{
	font-family: sans-serif;
}






a {
    text-decoration: none;
    color: inherit;
}

body {
    font: normal 18px 'Open Sans', sans-serif;
    background: #fafafa;
    color: #333;
}
header {
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 0px;
}