@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');


body{
	font-family: sans-serif;
}






a {
    text-decoration: none;
    color: inherit;
}

body {
    font: normal 18px 'Open Sans', sans-serif;
    background: #fafafa;
    color: #333;
}